{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Shuffle</h1>

<body>
    <h1>Shuffled Cards:</h1>
    {% if cards is iterable %}
        <ul>
            {% for card_item in cards %}
                <span class="cards {{ cardColors[card_item] }}">{{ card_item }}</span>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="cards {{ cardColors[cards] }}">{{ cards }}</h2>
    {% endif %}
    <h2>Remaining Cards: {{ remaining }}</h2>
    {# Reload the page to shuffle the deck again #}
    <button onclick="location.reload();">Shuffle Again</button>
</body>
{% endblock %}