<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        
        <header class="site-header" style="background-image: url({{ asset('images/lilac2.jpg') }})">
            <span class="site-title">My Symfony Site</span>
        </header>
        
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('card_start') }}">Card</a></li>
                <li><a href="{{ path('card_deck') }}">Deck</a></li>
                <li><a href="{{ path('card_shuffle') }}">Shuffle Deck</a></li>
                <li><a href="{{ path('card_draw') }}">Draw Cards</a></li>
                <li><a href="{{ path('game_home') }}">Game</a></li>
                <li><a href="{{ path('session_show') }}">Show Session</a></li>
                <li><a href="{{ path('session_clear') }}">Delete Session</a></li>
                <li><a href="{{ path('library') }}">Library</a></li>
                <li><a href="{{ path('metrics') }}">Metrics</a></li>
                
            </ul>
        </nav>
        <main>
        {% block body %}{% endblock %}
        </main>

        <footer>
            <a href="https://github.com/dbwebb-se/mvc">
                <i class="fab fa-github"></i>
            </a>
        </footer>
    </body>
</html>
